
h1
{
  padding: 20px;
  margin: 0 250px;
}
a2
{
	
  padding: 20px;
  margin: 0 250px;
}

.img1
{
margin: 0 250px;
-webkit-border-radius: 37px;
-moz-border-radius: 37px;
border-radius: 37px;
padding:0px;
}
